<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internet History</title>
</head>
<body>
    <header>
        <h1>Internet History</h1>
        <nav>

        </nav>
    </header>
    <main>
        <section>
            <article>
                <h3>

                </h3>
                <p>

                </p>
                <p>

                </p>
            </article>
        </section>
        <section>
            <article>
                <h3>

                </h3>
                <p>

                </p>
                <p>
                    
                </p>
            </article>
        </section>
        <section>
            <article>
                <h3>

                </h3>
                <p>

                </p>
                <p>
                    
                </p>
            </article>
        </section>
    </main>
    <footer>

    </footer>
</body>
</html>